/*
* Offsets
*/

// Elements offset
* + p { margin-top: 10px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	* + p { margin-top: 15px; }
}

// Headings

// Headings + Paragraph
h1 + p,
.heading-1 + p { margin-top: 10px; }

h2 + p,
.heading-2 + p { margin-top: 8px; }

h3 + p,
.heading-3 + p { margin-top: 8px; }

h4 + p,
.heading-4 + p { margin-top: 10px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	h1 + p,
	.heading-1 + p { margin-top: 19px; }

	h2 + p,
	.heading-2 + p { margin-top: 19px; }

	h3 + p,
	.heading-3 + p { margin-top: 17px; }

	h4 + p,
	.heading-4 + p { margin-top: 23px; }
}

// Paragraph + Headings
p + h2,
p + .heading-2 { margin-top: 15px; }

// Tags + Tags
img + p { margin-top: 15px; }
h3 + img { margin-top: 42px; }
p + p { margin-top: 12px; }

// Classes
* + .big { margin-top: 20px; }
* + .button { margin-top: 30px; }
* + .img-wrap-1 { margin-top: 25px; }
* + .img-wrap-2 { margin-top: 25px; }
* + .row { margin-top: 30px; }
* + .text-block { margin-top: 20px; }

* + .offset-custom {
 &-1 { margin-top: 38px; }
 &-2 { margin-top: 30px; }
}

// Tags + Classes
h3 + .big, .heading-3 + .big  { margin-top: 15px; }
h3 + .row { margin-top: 40px; }
h4 + .big { margin-top: 20px; }

// Classes + Tags
.big-custom + p { margin-top: 20px; }

.row + h3,
.row + .heading-3 { margin-top: 80px; }

// Classes + Classes
.big + .big { margin-top: 20px; }
.big + .button { margin-top: 30px; }
.container + .container { margin-top: 35px; }
.offset-custom-2 + .big { margin-top: 30px; }
.row + .row { margin-top: 35px; }

// Media offsets
@include media-breakpoint-up(xl) {
	* + .img-wrap-1 { margin-top: 53px; }
	* + .text-block { margin-top: 39px; }

	.big-custom + p { margin-top: 50px; }

	h3 + .row { margin-top: 60px; }
	h4 + .big { margin-top: 35px; }

	.big + .button { margin-top: 50px; }
	.container + .container { margin-top: 60px; }
	.row + .row { margin-top: 60px; }
}

@include media-breakpoint-up(xxl) {
	* + .img-wrap-1 { margin-top: 53px; }
	* + .text-block { margin-top: 39px; }

	* + .offset-custom {
		&-2 { margin-top: 44px; }
	}

	.big-custom + p { margin-top: 68px; }

	h3 + .big, .heading-3 + .big { margin-top: 21px; }
	h3 + .big-custom, .heading-3 + .big-custom { margin-top: 14px; }
	h3 + .row { margin-top: 98px; }
	h4 + .big { margin-top: 35px; }

	.big + .button { margin-top: 50px; }
	.container + .container { margin-top: 60px; }
	.custom-title + .row { margin-top: 60px; }
	.img-wrap-1 + .row { margin-top: 60px; }
	.offset-custom-2 + .big { margin-top: 52px; }
	.row + .row { margin-top: 60px; }
	.row + .offset-row-1 { margin-top: 85px; }
}

// Range spacing
.row-0 { @include grid-offset(0px); }
.row-3 { @include grid-offset(3px); }
.row-15 { @include grid-offset(15px); }
.row-20 { @include grid-offset(20px); }
.row-30 { @include grid-offset(30px); }
.row-40 { @include grid-offset(40px); }
.row-50 { @include grid-offset(50px); }
.row-60 { @include grid-offset(60px); }

@include media-breakpoint-up(lg) {
	.row-md-30 { @include grid-offset(30px); }
	.row-lg-0 { @include grid-offset(0); }
}

@include media-breakpoint-up(xxl) {
	.row-xxl-55 { @include grid-offset(55px); }
	.row-xxl-60 { @include grid-offset(60px); }
	.row-xxl-85 { @include grid-offset(85px); }
	.row-xxl-100 { @include grid-offset(100px); }
	.row-xxl-110 { @include grid-offset(110px); }
}

.offset-top-10 {
	padding-top: 10px;
}
.offset-top-20 {
	padding-top: 20px;
}
.offset-bottom-xl-10 {
	@include media-breakpoint-up(xl) {
		padding-bottom: 10px;
	}
}

.offset-top-30 {
	padding-top: 30px;
}
.offset-top-40 {
	padding-top: 40px;
}
.offset-top-0-xxl-225 {
	@include media-breakpoint-up(xxl) {
		padding-top: 225px;
	}
}