/*
* Utilities custom
*/

// Rights
p.rights {
	font-size: 15px;
	line-height: 19px;
	a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

// JSColor Workaround
[style*='z-index: 1000;'] {
	z-index: $zindex-layout-panel + 1 !important;
}

.text-block {
	> * {
		margin-left: .125em;
		margin-right: .125em;
	}
}

.text-block-1 {
	a.icon {
		color: rgba($white, .1);

		&:hover,
		&:focus {
			color: $primary
		}
	}

	* + p { margin-top: 20px; }
	* + .button-wrap { margin-top: 25px; }
	* + .list-inline-sm-1 { margin-top: 27px; }

	// Extra large ≥1200px
	@include media-breakpoint-up(xl) {
		* + p { margin-top: 42px; }
		* + .button-wrap { margin-top: 50px; }
		* + .list-inline-sm-1 { margin-top: 57px; }
	}
}

// flex row
.row-flex {
	> [class*="col-"] {
		display: flex;

		> * {
			flex-grow: 1;
			max-width: 100%;
		}
	}
}

// Image mockup
.mock-up-1 {
	position: relative;
	width: 100%;
	padding-top: 82%;

	img {
		max-width: 100%;
		border-radius: 6px;
		box-shadow: 0 0 45px 0 rgba($black, .4);
	}

	.object {
		position: absolute;
		width: 50%;

		&-1 {
			top: 17%;
			left: 22%;
		}

		&-2 {
			top: 0;
			left: 54%;
		}

		&-3 {
			top: 38%;
			left: 6%;
		}

		&-4 {
			top: 24%;
			left: 75%;
			width: 26%;
		}

		&-5 {
			top: 68%;
			left: 32%;
		}

		&-6 {
			top: 59%;
			left: 59%;
			width: 34%;
		}
	}
}

.image-section {
	position: relative;

	.image-container {
		position: static;
		right: 0;
		top: 0;
		left: 57%;
		bottom: 0;
		max-width: 850px;
		padding-top: 30px;
		padding-bottom: 20px;

		&-1 {
			display: none;
		}
	}

	// Medium ≥768px
	@include media-breakpoint-up(md) {
		.image-container {
			position: absolute;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	// Large ≥992px
	@include media-breakpoint-up(lg) {
		.image-container {
			&-1 {
				display: block;
			}
		}
	}
}