/*
* Blurb
*/

// Blurb Minimal
.blurb-minimal {
	text-align: center;
}

.blurb-minimal-icon {
	display: inline-block;
	color: $primary;
	font-size: 50px;
	line-height: 0.9;
}

.blurb-minimal-title {
	font-weight: 400;
}

.blurb-minimal-exeption {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.53;
	color: rgba($black, .4);
}

* + .blurb-minimal-exeption {
	margin-top: 12px;
}

// Medium ≥992px
@include media-breakpoint-up(lg) {
	.blurb-minimal {
		text-align: left;
	}
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	* + .blurb-minimal-exeption {
		margin-top: 19px;
	}
}


// Blurb hover
.blurb-hover {
	padding: 26px 24px;
	box-shadow: 0 0 40px rgba($black, .3);
}

.blurb-hover-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.blurb-hover-icon {
	color: $primary;
	font-size: 50px;
	line-height: 1.1;

	.blurb-hover-secondary & { color: $secondary; }
	.blurb-hover-gray & { color: rgba($white, .1); }
}

.blurb-hover-counter {
	color: rgba($white, .2);
}

.blurb-hover-exeption {
	color: rgba($white, .4);
}

.blurb-hover-title {
	font-weight: 400;
}

* + .blurb-hover-title {
	margin-top: 13px;
}

* + .blurb-hover-exeption {
	margin-top: 18px;
}

// Large ≥992px
@include media-breakpoint-up(lg) {
	.blurb-hover {
		transition: .3s;
		box-shadow: 0 0 40px rgba($black, 0);

		&:hover {
			box-shadow: 0 0 40px rgba($black, .3);
		}
	}
}


// Blurb boxed
.blurb-boxed {
	padding: 20px 15px;
	box-shadow: 0 0 0 1px $gray-300;
	transition: .3s;

	&:hover {
		box-shadow: 0 0 50px rgba($black, .15);
	}
}

.blurb-boxed-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.blurb-boxed-icon {
	color: $gray-300;
	font-size: 34px;
	line-height: 1.1;
}

.blurb-boxed-title {
	font-weight: 400;
}

.blurb-boxed-list {

	a {
		color: rgba($black, .75);
		font-weight: 400;

		&:hover {
			color: $primary;
			text-decoration: underline;
		}
	}

	li + li { margin-top: 6px; }
}

* + .blurb-boxed-list { margin-top: 4px; }

@include media-breakpoint-up(lg) {
	.blurb-boxed {
		padding: 30px 30px;
	}
}

// Large ≥992px
@include media-breakpoint-up(xl) {
	.blurb-boxed-icon {
		font-size: 47px;
	}
}

@include media-breakpoint-up(xxl) {
	.blurb-boxed {
		padding: 48px 62px;
	}
}