/*
* Breadcrumbs
*/
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $gray-300;

.breadcrumbs-custom {
	position: relative;
	padding: 45px 0;
	text-align: center;
	background-color: $breadcrumb-bg;
	background-position: center;
	background-size: cover;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(180deg, transparent -30%, rgba($black, .5));
	}

	> * {
		position: relative;
		z-index: 1;
	}
}

.breadcrumbs-custom-title {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.34;
	letter-spacing: -0.02em;
	text-transform: none;
}

.breadcrumbs-custom-title-small {
	font-weight: 500;
	text-transform: none;
	letter-spacing: -0.02em;
}

.breadcrumbs-custom-subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.33;
	letter-spacing: 0.03em;
	color: rgba($white, .7);
}

* + .breadcrumbs-custom-title-small {
	margin-top: 27px;
	margin-bottom: 20px;
}

* + .breadcrumbs-custom-subtitle {
	margin-top: 18px;
}

@include media-breakpoint-up(md) {
	.breadcrumbs-custom {
		padding: 70px 0 80px;
	}
}

@include media-breakpoint-up(lg) {
	.breadcrumbs-custom-title {
		font-size: $h3-font-size;
		letter-spacing: 0.03em;
		padding-bottom: 40px;
	}
	.breadcrumbs-custom-subtitle { font-size: 18px; }

	* + .breadcrumbs-custom-subtitle { margin-top: 28px; }
}

@include media-breakpoint-up(xl) {
	.breadcrumbs-custom {
		padding: 80px 0;
	}
}

@include media-breakpoint-up(xxl) {
	.breadcrumbs-custom {
		padding: 170px 0 188px;
	}
}


// Tags small
.tag-small {
	display: inline-block;
	padding: 0 9px;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: $white;
	background: $primary;
}