/*
* Jumbotron
*/

.jumbotron-custom {
	.text-1 {
		font-size: 24px;
		text-transform: uppercase;
	}

	.text-2 {
		font-size: 20px;
		font-weight: 500;
	}

	.title {
		font-size: 70px;
		font-weight: 900;
		line-height: 0.9;
		text-transform: uppercase;
	}

	.big {
		line-height: 1.36;
	}

	* + .text-2 { margin-top: 8px; }
	* + .title { margin-top: 18px; }
	* + .big { margin-top: 20px; }

	// Extra large ≥1200px
	@include media-breakpoint-up(xl) {
		.text-1 {
			font-size: 29px;
		}

		.text-2 {
			margin-left: -0.5em;
		}

		.title {
			padding-left: 0.3em;
			font-size: 110px;
		}

		* + .big { margin-top: 34px; }
	}
}

.jumbotron-custom-1 {
	.text-1 {
		font-size: 26px;
		text-transform: uppercase;
	}

	.video-button {
		a {
			display: inline-block;
			padding: 30px 70px;
			text-align: center;
			color: $secondary;
			pointer-events: none;

			> * {
				pointer-events: auto;
			}

			&:hover,
			&:focus {
				color: $primary;
			}
		}

		.icon {
			font-size: 46px;
		}

		.button-text {
			display: block;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.05em;
			background: linear-gradient(0deg, transparent, transparent);
			background: -webkit-linear-gradient(0deg, $primary, $secondary-2, $secondary);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: $secondary;
		}

		* + .button-text { margin-top: 5px; }
	}

	.title {
		font-size: 70px;
		font-weight: 900;
		line-height: 0.9;
		text-transform: uppercase;
	}

	.big {
		line-height: 1.36;
	}

	* + .title { margin-top: 5px; }
	* + .big { margin-top: 20px; }

	// Large ≥992px
	@include media-breakpoint-up(lg) {
		.video-button {
			margin-top: -140px;
			margin-right: -15px;
			text-align: right;
		}
	}

	// Extra large ≥1200px
	@include media-breakpoint-up(xl) {
		max-width: 440px;
		.title {
			line-height: 1.2;
			font-size: 80px;
			margin-left: -10px;
		}
		.video-button {
			margin-top: -150px;
		}
		* + .big { margin-top: 37px; }
	}

	// Mega large ≥1600px
	@include media-breakpoint-up(xxl) {
		max-width: 470px;

		.title {
			font-size: 125px;
		}
	}
}

html .section-jumbotron {
	display: flex;
	flex-direction: column;

	.section-fullheight {
		flex-grow: 1;
	}

	// Large ≥992px
	@include media-breakpoint-down(md) {
		.section-fullheight-inner {
			min-height: 0;
		}
	}

	// Large ≥992px
	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}
	@include media-breakpoint-up(xl) {
		padding-bottom: 60px;
	}
	@include media-breakpoint-up(xxl) {
		padding-bottom: 120px;
	}

}

.project-list {
	display: flex;
	flex-direction: column;

	> li {
		width: 100%;
		@include media-breakpoint-up(lg) {
			border-radius: 12px 0 0 12px;
		}
		a {
			display: block;
			padding: 50px 32px;
			text-align: right;
			font-size: 24px;
			font-weight: 700;
			font-family: $font-family-sec;
			text-transform: uppercase;
			color: $white;
			background-image: linear-gradient(to right, rgba($gray-900, .2), rgba($gray-900, .5));
			height: 100%;
		}
	}

	// Medium ≥768px
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}

	// Medium ≥992px
	@include media-breakpoint-up(lg) {
		width: 37%;
		padding-top: 135px;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		padding-bottom: 60px;

		> li + li {
			margin-top: 21px;
		}

		.desktop & {
			> li {
				transform: translateX(50px);
				transition: .25s;

				a {
					opacity: 0;
					transition: inherit;
				}

				&:hover {
					transform: translateX(0);

					a { opacity: 1; }
				}
			}
		}
	}

	// Extra large ≥1200px
	@include media-breakpoint-up(xl) {
		padding-bottom: 0;

		> li {
			a {
				padding: 50px 32px;
			}
		}

	}

	// Mega large ≥1600px
	@include media-breakpoint-up(xxl) {
		padding-top: 220px;
		> li {
			a {
				padding: 87px 32px;
			}
		}
	}
}

.panel-left {
	display: none;
	padding: 40px 5px 230px 5px;
	max-width: 164px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	border-right: 1px solid rgba($white, .1);
	@include media-breakpoint-up(xl) {
		margin-bottom: -60px;
	}
	@include media-breakpoint-up(xxl) {
		margin-bottom: -120px;
	}

	.brand {
		position: relative;
		z-index: 9;
		transform: rotate(90deg) translateX(40%);
	}
}

// Large ≥992px
@include media-breakpoint-up(lg) {
	.rd-navbar-static-linked {
		.panel-left {
			display: flex;
		}
	}
}
