/*
* Lists
*/

/*
* Vertical list
*/
.list {
	> li + li {
		margin-top: 10px;
	}
}

.list.custom-list {
	> li + li {
		margin-top: 25px;
	}
}

.list-xs > li + li {
	margin-top: 7px;
}

.list-sm > li + li {
	margin-top: 5px;
}

.list-xl > li + li {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	.list-xl > li + li {
		margin-top: 60px;
	}
}

* + .list-xs { margin-top: 20px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	* + .list-xs { margin-top: 25px; }
}

/*
* List inline
*/
.list-inline {
	> li {
		display: inline-block;

		> .icon { vertical-align: middle; }
	}
}

.list-inline-sm {
	@include spacing(10px, 10px);
}

.list-inline-sm-1 {
	@include spacing(22px, 8px);
}

.list-inline-md {
	@include spacing(20px, 8px);

	@include media-breakpoint-up(lg) {
		@include spacingX(30px);
	}
}

.list-inline-lg {
	@include spacing(20px, 8px);

	@include media-breakpoint-up(lg) {
		@include spacingX(52px);
	}
}

.list-group {
	@include spacing(20px, 8px);
}

/*
* List terms
*/
.list-terms {
	dt + dd {
		margin-top: 5px;
	}
	dd + dt {
		margin-top: 25px;
	}
}

* + .list-terms {
	margin-top: 25px;
}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.list-terms {
		dt + dd {
			margin-top: 15px;
		}
		dd + dt {
			margin-top: 35px;
		}
	}

	* + .list-terms {
		margin-top: 35px;
	}
}

/*
* List terms custom
*/
.list-terms-custom {
	display: flex;

	dt {
		min-width: 57px;
	}
}

.list-terms-custom-1 {
	align-items: center;

	dt { font-size: 18px; }
	dd { font-size: 18px; }
}

.list-terms-custom + .list-terms-custom {
	margin-top: 13px;
}

%context-dark {
	.list-terms-custom {
		dt {
			color: rgba($white, .4);
		}
	}
}

/*
* Index list
*/
.index-list {
	counter-reset: li;

	> li {
		.list-index-counter {
			&:before {
				content: counter(li, decimal-leading-zero);
				counter-increment: li;
			}
		}
	}
}

/*
* Marked list
*/
.list-marked {
	padding-left: 19px;
	text-align: left;
	color: $black;

	> li {
		position: relative;

		&::before {
			position: absolute;
			display: inline-block;
			left: -19px;
			top: 10px;
			width: 6px;
			height: 6px;
			content: '';
			color: $gray-400;
			background-color: $primary;
		}
	}

	> li + li {
		margin-top: 3px;
	}
}

.list-marked-2 {
	padding-left: 10px;
	text-align: left;
	color: $black;

	> li {
		font-weight: 400;

		&::before {
			position: relative;
			display: inline-block;
			left: -10px;
			top: -6px;
			width: 6px;
			height: 6px;
			content: '';
			color: $gray-400;
			background-color: $primary;
		}
	}

	> li + li {
		margin-top: 24px;
	}
}

.list-marked-3 {
	padding-left: 19px;
	text-align: left;
	color: $black;

	> li {
		position: relative;

		&::before {
			position: absolute;
			display: inline-block;
			left: -19px;
			top: 8px;
			width: 6px;
			height: 6px;
			content: '';
			color: $gray-400;
			background-color: $primary;
		}
	}

	> li + li {
		margin-top: 3px;
	}
}

.list-marked-big {
	> li {
		font-weight: 300;
		line-height: 27px;
		font-size: 18px;
	}

	> li + li {
		margin-top: 14px;
	}
}

* + .list-marked { margin-top: 15px; }

p + .list-marked { margin-top: 10px; }

.counter-minimal + .list-marked { margin-top: 20px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.counter-minimal + .list-marked { margin-top: 45px; }
}

/*
* Marked hover list
*/
.link-item {
	position: relative;
	display: inline-block;
	text-align: left;
	@include media-breakpoint-up(sm) {
		padding-left: 18px;
	}

	&::before {
		position: absolute;
		display: inline-block;
		left: 1px;
		top: 10px;
		width: 6px;
		height: 6px;
		content: '';
		color: $gray-400;
		background-color: $primary;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}
}

%context-dark {
	.link-item {
		color: rgba($white, .4);

		&:hover {
			color: $white;
		}
	}
}

/*
* Ordered List
*/
.list-ordered {
	counter-reset: li;
	text-align: left;

	> li {
		position: relative;
		padding-left: 16px;

		&:before {
			content: counter(li, decimal) '.';
			counter-increment: li;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			width: 15px;
		}
	}

	> li + li {
		margin-top: 3px;
	}
}

* + .list-ordered {
	margin-top: 15px;
}

// Number counter
.number-counter {
	counter-reset: counter;

	.index-counter {
		&:before {
			content: counter(counter, decimal-leading-zero);
			counter-increment: counter;
		}
	}
}

.number-counter-1 {
	counter-reset: counter;

	.index-counter {
		&:before {
			content: counter(counter) ".";
			counter-increment: counter;
		}
	}
}

.list-modern {
	.link-item {
		padding-left: 18px;
		&::before {
			left: 1px;
		}
	}
}