/*
* Quotes
*/

//
// Table of Contents:
//

//
// Quote simple
//

.quote-simple {
	&-body q {
		font-size: 22px;
		line-height: 1.6667;

		&:before { padding-right: 6px; }
		&:after { padding-left: 6px; }
	}

	&-footer {
		position: relative;
		padding-left: 42px;

		&:before {
			position: absolute;
			display: block;
			left: 4px;
			top: 13px;
			width: 24px;
			height: 1px;
			content: '';
			color: $gray-400;
			background-color: $primary;
		}

		* + & {
			margin-top: 16px;
		}
	}

	&-description {
		padding-left: 10px;
		font-size: 13px;
		text-transform: uppercase;
	}

	* + & { margin-top: 20px; }

	// Large ≥992px
	@include media-breakpoint-up(xl) {
		&-body q {
			font-size: 24px;
		}

		&-footer {
			* + & { margin-top: 33px; }
		}

		* + & { margin-top: 28px; }
	}
}

//
// Quote minimal
//

.quote-minimal {
	.quote-body q {
		font-size: 22px;
		line-height: 1.5;
		color: $black;

		&:before,
		&:after { display: none; }
	}

	.quote-footer {
		position: relative;
		padding-left: 98px;
		font-weight: 600;
		text-transform: uppercase;

		&:before {
			position: absolute;
			display: block;
			left: 31px;
			top: 13px;
			width: 40px;
			height: 1px;
			content: '';
			color: $gray-400;
			background-color: $black;
		}
	}

	* + .quote-footer { margin-top: 16px; }

	// Large ≥992px
	@include media-breakpoint-up(xl) {
		.quote-body q { font-size: 24px; }

		* + .quote-footer { margin-top: 16px; }
	}
}

* + .quote-minimal { margin-top: 20px; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	* + .quote-minimal { margin-top: 28px; }
}