/*
* Tables custom
*/

$table-head-padding: 35px 24px;
$table-cell-padding: 51px 15px;
$table-condensed-cell-padding: 5px;

$table-bg: $white;
$table-bg-accent: $gray-200;
$table-bg-hover: $primary;
$table-bg-active: $table-bg-hover;

$table-border-color: $gray-300;

.table-custom {
	width: 100%;
	max-width: 100%;
	text-align: left;
	background: $table-bg;
	border-collapse: collapse;

	th,
	td {
		color: $gray-700;
		background: $table-bg;
	}

	th {
		padding: $table-head-padding;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .05em;
		text-transform: uppercase;
		background: $gray-200;

		@include media-breakpoint-down(md) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	td {
		padding: $table-cell-padding;

		&:first-child {
			padding-left: 0;
		}

	}

	tr td {
		border-bottom: 1px solid $table-border-color;
	}

	tfoot {
		td {
			font-weight: 700;
		}
	}

	tr:first-child {
		td {
			border-top: 1px solid $table-border-color;
		}
	}

	td:first-child {
		width: 90px;
	}

	td:not(:first-child) {
		min-width: 130px;
	}

	.exeption {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		color: rgba($black, .4);
	}
}

* + .table-custom-responsive {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	* + .table-custom-responsive {
		margin-top: 55px;
	}
}


//
// Table Custom Additional
//
.table-custom-responsive {
	@include media-breakpoint-down(sm) {
		display: block;
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057

		// Prevent double border on horizontal scroll due to use of `display: block;`
		&.table-bordered {
			border: 0;
		}
	}
}

.table-custom-align {
	td:nth-child(3) {
		text-align: center;
	}
	td:last-child {
		text-align: right;
	}
}