.pre-footer-classic.bg-gray-700.context-dark
	.container
		.row.row-30.justify-content-lg-between
			.col-sm-6.col-lg-3.col-xl-3
				h5.font-weight-bold.text-uppercase Our Address
				ul.list.list-sm
					li: p 1418 Riverwood Drive,
					li: p Suite 3845 Cottonwood,
					li: p CA 96022
					li: p United States
			.col-sm-6.col-lg-4.col-xl-3
				h5.font-weight-bold.text-uppercase Contacts
				dl.list-terms-custom
					dt Ph.
					dd: a.link-default(href="tel:#") 1-300-123-1234
				dl.list-terms-custom
					dt Mail.
					dd: a.link-default(href="mailto:#") Info@demolink.org
				ul.list-inline.list-inline-sm
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-facebook(href="#")
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-instagram(href="#")
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-behance(href="#")
					li: a.icon.icon-sm.icon-gray-filled.icon-circle.mdi.mdi-twitter(href="#")
			.col-lg-4
				h5.font-weight-bold.text-uppercase Newsletter
				form.rd-form.rd-mailform(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
					.form-wrap.form-wrap-icon
						.form-icon.mdi.mdi-email-outline
						input#footer-email.form-input(type='email' name='email' data-constraints='@Email @Required')
						label.form-label(for='footer-email') E-mail
					.button-wrap
						button.button.button-default.button-invariable(type='submit') Send

footer.section.footer-classic.context-dark.text-center
	.container
		.row.row-15.justify-content-lg-between
			.col-lg-4.col-xl-3.text-lg-left
				+rights
			.col-lg-5.col-xl-6
				ul.list-inline.list-inline-lg.text-uppercase
					li: a.small-2.font-weight-regular(href="#") About us
					li: a.small-2.font-weight-regular(href="#") Products
					li: a.small-2.font-weight-regular(href="#") News
			.col-lg-3.text-lg-right

