-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CRoboto+Condensed:300,400,500,600,700,800,900%7CRoboto:300,400,500,600,700,800,900",
		subscribeFormCounter = 0,
		logo = {
			default: { normal: 'logo-default-153x36', retina: 'logo-default-306x72' },
			inverse: { normal: 'logo-inverse-306x72', retina: 'logo-inverse-306x72' },
			name: 'Medina'
		},

		colors = {
			primary: '#2ebbbb'
		},
		menu = [
			{
			title: '',
			category: 'home',
			link: '#home'
			},
			{
				title: 'About',
				category: 'about',
				link: '#about'
			},
			{
				title: 'Quality Control',
				category: 'quality control',
				link: '#quality-control'
			},
			{
				title: 'Products',
				category: 'products',
				link: '#products'
			},
			{
				title: 'News',
				category: 'news',
				link: '#news'
			},
			{
				title: 'Contact Us',
				category: 'contacts',
				link: '#contacts'
			}
		];
